@media only screen and (max-width: 610px) {
  .h_component_inner p {
    padding: 0 !important;
    font-size: 1.6rem;
  }
  .h_component_inner h1 {
    font-size: 3.2rem;
  }
  .h_component_inner a {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 991px) {
  .responsive-dismiss {
    display: none !important;
  }
  .link-margin {
    margin: 0 !important;
  }
  .navbar-nav {
    margin: 1rem 5rem;
  }
  .navbar-nav a {
    font-size: 1.8rem;
    font-weight: 400 !important;
  }
  .inner-nav button {
    font-size: 1.8rem;
    font-weight: 400;
  }
}

@media only screen and (min-width: 992px) {
  .responsive-styles-nav {
    display: none;
  }
  .navbar-nav {
    gap: 2rem;
  }
}
.responsive-styles-nav {
  position: absolute;
  top: 80px;
  left: 0px;
  z-index: 100;
  background-color: white;
  width: 100%;
}

@media only screen and (min-width: 530px) and (max-width: 629px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media only screen and (max-width: 529px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

/* latest changes */
@media only screen and (max-width: 465px) {
  .total_price_container {
    display: flex;
    flex-direction: column;
  }
  .total_price_container button {
    margin: 0 5rem;
  }
}

/* latest product styles -res */
@media only screen and (max-width: 850px) {
  .product-container {
    grid-template-columns: 1fr;
  }
  .single-product-left img {
    width: 50%;
  }
  .single-product-left strong {
    font-size: 1.6rem;
  }
  .subscribe-label {
    font-size: 1.6rem;
  }
  .single-product-right {
    padding: 0rem 1rem;
  }
  .product-information {
    text-align: center;
    margin: 0 auto;
  }
  .single-product-right label {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 650px) {
  .cart-product-numbers {
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .product-right-layout {
    flex-direction: column;
  }
  .product-right-layout-two {
    padding: 0rem;
  }
  /* cart */
  .cart_product_container {
    grid-template-columns: 1fr;
    gap: 0rem;
  }
  .cart-product-numbers {
    grid-row: 1;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 850px) {
  .checkout_page {
    grid-template-columns: 1fr;
  }
  .checkout_page_product_container {
    grid-row: 1;
  }
  .checkout_page_product {
    gap: 3rem;
  }
  .checkout_page_information {
    padding: 1rem;
  }
  .total_price_summary div {
    padding: 0;
  }
}
@media only screen and (max-width: 400px) {
  .product_success div {
    flex-direction: column;
  }
}
